<a href="https://colab.research.google.com/github/rupaidutta66/Text_Extract_from_PDF/blob/feature%2FImage_Segment/Image_Segmentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import image_slicer
image_slicer.slice('/content/HY_1.png', 4)

(<Tile #1 - HY_1_01_01.png>,
 <Tile #2 - HY_1_01_02.png>,
 <Tile #3 - HY_1_02_01.png>,
 <Tile #4 - HY_1_02_02.png>)

In [ ]:
import cv2
from google.colab.patches import cv2_imshow
img = cv2.imread('/content/JESCO.png')

# cv2.imread() -> takes an image as an input
h, w, channels = img.shape

half = w//2


# this will be the first column
left_part = img[:, :half]

# [:,:half] means all the rows and
# all the columns upto index half

# this will be the second column
right_part = img[:, half:]

# [:,half:] means all the rows and all
# the columns from index half to the end
# cv2.imshow is used for displaying the image
# cv2_imshow( left_part)
# cv2_imshow( right_part)

# this is horizontal division
half2 = h//2

top = img[:half2, :]
bottom = img[half2:, :]



# saving all the images
# cv2.imwrite() function will save the image
# into your pc
cv2.imwrite('top.jpg', top)
cv2.imwrite('bottom.jpg', bottom)
cv2.imwrite('right.jpg', right_part)
cv2.imwrite('left.jpg', left_part)
cv2.waitKey(0)

In [ ]:
import cv2
import numpy as np

# Web read image via scikit-image; convert to OpenCV's BGR color ordering
img = cv2.cvtColor(cv2.imread('/content/HYang_4_1.png'), cv2.COLOR_RGB2BGR)

# Inverse binary threshold grayscale version of image
img_thr = cv2.threshold(cv2.cvtColor(img, cv2.COLOR_BGR2GRAY), 128, 255, cv2.THRESH_BINARY_INV)[1]

# Count pixels along the x-axis, find peaks
thr_x = 200
x_sum = np.count_nonzero(img_thr, axis=1)
peaks = np.where(x_sum > thr_x)[0]

# Clean peaks
thr_y = 20

temp = np.diff(peaks).squeeze()
idx = np.where(temp > thr_y)[0]
peaks = np.concatenate(([0], peaks[idx+1]), axis=0) + 1

# Save sub-images
for i in np.arange(peaks.shape[0] - 1):
    cv2.imwrite('sub_image_' + str(i) + '.png', img[peaks[i]:peaks[i+1], :])

In [ ]:
import cv2
import numpy as np

# Web read image via scikit-image; convert to OpenCV's BGR color ordering
img = cv2.cvtColor(cv2.imread('/content/sub_image_5.png'), cv2.COLOR_RGB2BGR)

# Inverse binary threshold grayscale version of image
img_thr = cv2.threshold(cv2.cvtColor(img, cv2.COLOR_BGR2GRAY), 128, 255, cv2.THRESH_BINARY_INV)[1]

# Count pixels along the y-axis, find peaks
thr_y = 200
y_sum = np.count_nonzero(img_thr, axis=0)
peaks = np.where(y_sum > thr_y)[0]

# Clean peaks
thr_x = 80
temp = np.diff(peaks).squeeze()
idx = np.where(temp > thr_x)[0]
peaks = np.concatenate(([0], peaks[idx+1]), axis=0) + 1

# Save sub-images
for i in np.arange(peaks.shape[0] - 1):
    cv2.imwrite('sub_image_v' + str(i) + '.png', img[:, peaks[i]:peaks[i+1]])

In [ ]:
img = cv2.cvtColor(cv2.imread('/content/JESCO.png6'), cv2.COLOR_RGB2BGR)

# Inverse binary threshold grayscale version of image
img_thr = cv2.threshold(cv2.cvtColor(img, cv2.COLOR_BGR2GRAY), 128, 255, cv2.THRESH_BINARY_INV)[1]

# Count pixels along the y-axis, find peaks
thr_y = 255
y_sum = np.count_nonzero(img_thr, axis=0)
y_peaks = np.where(y_sum > thr_y)[0]

# Clean y-axis peaks
thr_x = 50
temp = np.diff(y_peaks).squeeze()
y_idx = np.where(temp > thr_x)[0]
y_peaks = np.concatenate(([0], y_peaks[y_idx+1]), axis=0) + 1

# Count pixels along the x-axis, find peaks
thr_x = 255
x_sum = np.count_nonzero(img_thr, axis=1)
x_peaks = np.where(x_sum > thr_x)[0]

# Clean x-axis peaks
temp = np.diff(x_peaks).squeeze()
x_idx = np.where(temp > thr_x)[0]
x_peaks = np.concatenate(([0], x_peaks[x_idx+1]), axis=0) + 1

# Save sub-images
for i in np.arange(y_peaks.shape[0] - 1):
    for j in np.arange(x_peaks.shape[0] - 1):
        cv2.imwrite('sub_image_y' + str(i) + '_x' + str(j) + '.png',
                    img[x_peaks[j]:x_peaks[j+1], y_peaks[i]:y_peaks[i+1]])

-------------------------------------------------------------------------
=========================================================================
-------------------------------------------------------------------------

In [ ]:
!sudo apt-get install -y poppler-utils
!pip install pdf2image
!pip install ocr-nanonets-wrapper

In [ ]:
from pdf2image import convert_from_path
from nanonets import NANONETSOCR
from PIL import Image
import pandas as pd
import json
import glob

In [ ]:
images = convert_from_path('/content/Pipe-TPCO-1.pdf') #-------------------TPCO

images[0].save('/content/page_1.jpg', 'JPEG')
img_path = '/content/page_1.jpg'
# Load the image
image = Image.open(img_path)
image = image.rotate(1)
# Get the size of the image
width, height = image.size

# Define the coordinates of the eight parts
part_1 = (0, 0, width, int(height * 0.155))
part_2 = (0, int(height * 0.155), width, int(height * 0.258))
part_3 = (0, int(height * 0.26), width, int(height * 0.35))
part_4 = (0, int(height * 0.35), width, int(height * 0.485))
part_5 = (0, int(height * 0.485), width, int(height * 0.56))
part_6 = (0, int(height * 0.56), width, int(height * 0.69))
part_7 = (0, int(height * 0.69), width, int(height * 0.775))
part_8 = (0, int(height * 0.775), width, int(height * 0.91))
part_9 = (0, int(height * 0.91), width, height)

# Crop the eight parts
part_1_image = image.crop(part_1)
part_2_image = image.crop(part_2)
part_3_image = image.crop(part_3)
part_4_image = image.crop(part_4)
part_5_image = image.crop(part_5)
part_6_image = image.crop(part_6)
part_7_image = image.crop(part_7)
part_8_image = image.crop(part_8)
part_9_image = image.crop(part_9)


# Save the cropped images
part_1_image.save('/content/part_1.jpg')
part_2_image.save('/content/part_2.jpg')
part_3_image.save('/content/part_3.jpg')
part_4_image.save('/content/part_4.jpg')
part_5_image.save('/content/part_5.jpg')
part_6_image.save('/content/part_6.jpg')
part_7_image.save('/content/part_7.jpg')
part_8_image.save('/content/part_8.jpg')
part_9_image.save('/content/part_9.jpg')

In [ ]:
model = NANONETSOCR()
model.set_token('e5587eb5-df62-11ed-b679-bac82107c82f')
k = 0
for filename in glob.glob('part*.jpg'):
  model.convert_to_csv(filename, output_file_name='output_page'+ str(k+1) +'.csv')
  k += 1

In [ ]:
model.convert_to_csv('/content/part_3.jpg', output_file_name='output_page.csv')

============================================================================

In [ ]:
images = convert_from_path('/content/Pipe-ANHUI TIANDA OIL-2.pdf') #-------------------TPCO

images[0].save('/content/page_1.jpg', 'JPEG')
img_path = '/content/page_1.jpg'
# Load the image
image = Image.open(img_path)
image = image.rotate(-0.52)
# Get the size of the image
width, height = image.size

# Define the coordinates of the eight parts
part_1 = (0, 0, width, int(height * 0.242))
part_2 = (0, int(height * 0.775), width, height)

part_1_image = image.crop(part_1)
part_2_image = image.crop(part_2)

part_1_image.save('/content/part_1.jpg')
part_2_image.save('/content/part_2.jpg')

==============================================================================>>

In [ ]:
import pandas as pd
df = pd.read_csv('/content/table_data_1.csv', skiprows = 2)
df = df.iloc[:15]

In [ ]:
import pandas as pd
import json

# read in the data from the CSV file
df = pd.read_csv('/content/table_data_1.csv', skiprows = 2)
df = df.iloc[:15]

# define a function to convert each row to a dictionary
def row_to_dict(row):
    d = {}
    d['Type'] = row['Type']
    d['C'] = row['C']
    d['Si'] = row['Si']
    d['Mn'] = row['Mn']
    d['P'] = row['P']
    d['S'] = row['S']
    d['Cr'] = row['Cr']
    d['Ni'] = row['Ni']
    d['Cu'] = row['Cu']
    d['Ti'] = row['Ti']
    d['Mo'] = row['Mo']
    d['V'] = row['V']
    d['Al'] = row['Al']
    d['B'] = row['B']
    d['Nb'] = row['Nb']
    d['CE'] = row['CE ( pcm )']
    d['EMI'] = row['EMI']
    d['U.T.'] = row['U.T.']
    d['M.P.I'] = row['M.P.I']
    d['Residual magnetis $ 30GS'] = row['Residual magnetis $ 30GS']
    d['Hydrostatic Test 110S'] = row['Hydrostatic Test 110S']
    d['P( Mpa )'] = row['P( Mpa )']
    return d

# create a list of dictionaries, one for each row in the dataframe
rows = []
for i, row in df.iterrows():
    if row['NO'] == 1:
        d1 = row_to_dict(row)
    elif row['NO'] == 2:
        d2 = row_to_dict(row)
    elif row['NO'] == 3:
        d3 = row_to_dict(row)
    elif row['NO'] == 4:
        d4 = row_to_dict(row)
    elif row['Type'] == 'P':
        if 'P' not in d1:
            d1['P'] = []
            d2['P'] = []
            d3['P'] = []
            d4['P'] = []
        d1['P'].append(row_to_dict(row))
        d2['P'].append(row_to_dict(row))
        d3['P'].append(row_to_dict(row))
        d4['P'].append(row_to_dict(row))
    elif row['Type'] == 'H':
        if 'H' not in d1:
            d1['H'] = []
            d2['H'] = []
            d3['H'] = []
            d4['H'] = []
        d1['H'].append(row_to_dict(row))
        d2['H'].append(row_to_dict(row))
        d3['H'].append(row_to_dict(row))
        d4['H'].append(row_to_dict(row))

# create the final hierarchical dictionary
result = {
    '1': d1,
    '2': d2,
    '3': d3,
    '4': d4
}

# convert the dictionary to JSON
json_str = json.dumps(result, indent=4)

# print the JSON string
print(json_str)

In [ ]:
import re
df.columns = [re.sub(r'\W+', '', col) for col in df.columns]
df.iloc[0] = [re.sub(r'[^\x00-\x7F]+', '', str(col)) for col in df.iloc[0]]

In [ ]:
import pandas as pd
import unicodedata

def remove_non_english(text):
    if isinstance(text, str):
        return ''.join(c for c in unicodedata.normalize('NFKD', text) if ord(c) < 128)
    else:
        return text


df = pd.read_csv('/content/table_data_1.csv', skiprows = 4, header = 0)
df = df.iloc[:15]


# Remove non-English characters from column headers
df.columns = [remove_non_english(col) for col in df.columns]

# Remove non-English characters from rows
df = df.applymap(remove_non_english)

# Save the cleaned CSV file
df.to_csv('cleaned_file.csv', index=False)

In [ ]:
df_1 = df.iloc[:, [0] + list(range(5, 21))]
df_1

,NO,AX FY\nType,C,Si,Mn,P,S,Cr,Ni,Cu,Ti,Mo,V,Al 2,B,Nb,CE ( pcm )\n02
0,NaN,NaN,0.091,0.287,1.230,0.010,0.005,0.046,0.033,0.012,0.003,0.000,0.005,0.032,0.0,< 0.0002,0.167
1,1,P,0.096,0.285,1.228,0.009,0.005,0.046,0.033,0.013,0.003,0.000,0.005,0.032,0.0,0.0002,0172
2,NaN,H,0.100,0.300,1.250,0.011,0.004,0.050,0.040,0.010,0.003,0.001,0.001,0.029,0.0,0.0002,0.177
3,NaN,NaN,0.118,0.282,1.241,0.014,0.005,0.059,0.035,0.010,0.003,0.001 JF,0.002,0.032,0.0,0.0002,0.195
4,2,P,0.117,0.286,1.243,0.014,0.005,0.059,0.034,0.010,0.002,0.001,0.002,0.031,0.0,< 0.0002,0.194
5,NaN,H,0.100,0.300,1.260,0.015,0.005,0.060,0.040,0.010,0.003,0.001,0.001,0.032,0.0,0.0002,0.178
6,NaN,NaN,0114,0.317,1.204,0.009,0.003,0.051,0.038,0.010,0.003,0.001,0.003,0.031,0.0,0.0002,0.190
7,3,P,0.112,0.318,1.119,0.008,0.004,0.051,0.038,0.010,0.003,0.001,0.003,0.031,0.0,0.0002,0.184
8,NaN,H,0.110,0.320,0.120,0.008,0.003,0.050,0.040,0.010,0.003,0.001,0.001,0.032,0.0,0.0002,0.132
9,NaN,NaN,0.098,0.284,1.234,0.010,0.003,0.048,0.038,0.010,0.002,0.001,0.004,0.030,0.0,0.0002,0.174
10,4,P,0.099,0.286,1.236,0.010,0.003,0.048,0.038,0.010,0.002,0.001,0.004,0.030,0.0,0.0002,0.175
11,NaN,H,0.090,0.290,1.240,0.011,0.003,0.050,0.040,0.010,0.002,0.001,0.001,0.028,0.0,0.0002,0.167
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,TABLE 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data_dict = {'1': [], '2': [], '3': [], '4': []}
for index, row in df_1.iterrows():
    no = row['NO']
    sub_row = row['AX FY\nType']
    composition = {'C': row['C'], 'Si': row['Si'], 'Mn': row['Mn'], 'P': row['P'], 'S': row['S'], 'Cr': row['Cr'], 'Ni': row['Ni'], 'Cu': row['Cu'], 'Ti': row['Ti'], 'Mo': row['Mo'], 'V': row['V'], 'Al 2': row['Al 2'], 'B': row['B'], 'Nb': row['Nb'], 'CE ( pcm )\n02': row['CE ( pcm )\n02']}
    if sub_row == 'P':
        data_dict[no].append({'P': composition})
    elif sub_row == 'H':
        data_dict[no].append({'H': composition})
import json

json_data = json.dumps(data_dict)

In [ ]:
def row_to_dict(row):
    d = {}
    d['Type'] = row['Type']
    d['C'] = row['C']
    d['Si'] = row['Si']
    d['Mn'] = row['Mn']
    d['P'] = row['P']
    d['S'] = row['S']
    d['Cr'] = row['Cr']
    d['Ni'] = row['Ni']
    d['Cu'] = row['Cu']
    d['Ti'] = row['Ti']
    d['Mo'] = row['Mo']
    d['V'] = row['V']
    d['Al 2	'] = row['Al']
    d['B'] = row['B']
    d['Nb'] = row['Nb']
    d['CE ( pcm )\n02'] = row['CE ( pcm )']
    # d['EMI'] = row['EMI']
    # d['U.T.'] = row['U.T.']
    # d['M.P.I'] = row['M.P.I']
    # d['Residual magnetis $ 30GS'] = row['Residual magnetis $ 30GS']
    # d['Hydrostatic Test 110S'] = row['Hydrostatic Test 110S']
    # d['P( Mpa )'] = row['P( Mpa )']
    return d

# create a list of dictionaries, one for each row in the dataframe
rows = []
for i, row in df_1.iterrows():
    if row['NO'] == 1:
        d1 = row_to_dict(row)
    elif row['NO'] == 2:
        d2 = row_to_dict(row)
    elif row['NO'] == 3:
        d3 = row_to_dict(row)
    elif row['NO'] == 4:
        d4 = row_to_dict(row)
    elif row['AX FY\nType'] == 'P':
        if 'P' not in d1:
            d1['P'] = []
            d2['P'] = []
            d3['P'] = []
            d4['P'] = []
        d1['P'].append(row_to_dict(row))
        d2['P'].append(row_to_dict(row))
        d3['P'].append(row_to_dict(row))
        d4['P'].append(row_to_dict(row))
    elif row['AX FY\nType'] == 'H':
        if 'H' not in d1:
            d1['H'] = []
            d2['H'] = []
            d3['H'] = []
            d4['H'] = []
        d1['H'].append(row_to_dict(row))
        d2['H'].append(row_to_dict(row))
        d3['H'].append(row_to_dict(row))
        d4['H'].append(row_to_dict(row))

# create the final hierarchical dictionary
result = {
    '1': d1,
    '2': d2,
    '3': d3,
    '4': d4
}

# convert the dictionary to JSON
json_str = json.dumps(result, indent=4)

# print the JSON string
print(json_str)