<a href="https://colab.research.google.com/github/rupaidutta66/Text_Extract_from_PDF/blob/feaure%2FTPCO_Mapping/TPCO_Mapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import unicodedata
import json
def remove_non_english(text):
    if isinstance(text, str):
        return ''.join(c for c in unicodedata.normalize('NFKD', text) if ord(c) < 128)
    else:
        return text


df = pd.read_csv('/content/table_TPCO_1.csv', skiprows = 4)
df_1 = df.iloc[:13]

df_2 = df.iloc[17:28]


new_header = df_2.iloc[0]
df_2.columns = new_header
df_2 = df_2.iloc[1:]

# Remove non-English characters from column headers
df_1.columns = [remove_non_english(col) for col in df_1.columns]
df_2.columns = [remove_non_english(col) for col in df_2.columns]

# Remove non-English characters from rows
df_1 = df_1.applymap(remove_non_english)
df_2 = df_2.applymap(remove_non_english)

# # Save the cleaned CSV file
df.to_csv('cleaned_file.csv', index=False)

In [ ]:
df = pd.read_csv('/content/table_TPCO_1.csv', skiprows = 4)

In [ ]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,HV10,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,ADCB,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,NO .,HEAT NO .,LOT NO .,SPECIMEN,* 1,* 2,* 3,NaN,NaN,IN .,...,MID .,NaN,NaN,Track,NaN,OUT .,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,3,...,3,4,AVG,NaN,a,3,4 AVE,NaN,NaN,NaN
2,1,026312,54001,D220701467A,P,B,1,162,158,154,...,148,144,146,149,1537,152448,151,NaN,NaN,NaN
3,NaN,NOTES,* 1 TEST,TYPE ( P :,PRODUCT,TEST,", S",: SAMPLE,TEST,) : *,...,: UPSETTING,NaN,END ) : *,3,QUADRANT,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,TABLE 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NON - DESTRUCTIVE,TEST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,LOC .,ITEM,STANDARD,TYPE,NaN,LEVEL /,REFERENCE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,L - ID,L - OD,T - ID,T - OD,LEVEL,CVR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,FULL LENGTH,DEFECT,ISO 10893-3,EMI,NaN,"F2 ; N , 5 %",NaN,"F2 ; N , 5 %",NaN,100 %,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,PIPE,LAMINAR,ISO 10893-8,UT,NaN,NaN,NaN,NaN,1,100 %,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,END,THK.TESTING,ISO 10893-12,UT,NaN,NaN,NaN,NaN,-12.5 % t +\n15.0 % t,25 %,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,BEVEL,BEVEL,ISO 10893-5,MT,NaN,NaN,NaN,NaN,1,100 %,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,END,LAMINAR,ISO 10893-8,UT,NaN,NaN,NaN,NaN,1,100 %,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,PIPE,THK . TESTING,ISO 10893-12,UT,NOTED FOR,INFORMATION\nFANDARDS,ONLY C\nTECHNICAL,NaN,-12.5 % +\n15.0 %,100 %,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,TABLE 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NO .,HEAT NO .,LOT NO .,BATCH . NO .,PIECES,WEIGHT ( t ),LENGTHS,BUNDLES,L.RANGE,* 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1,026312,54001,C0542022071118 - A,10,31.070,123.024 m,NaN,11.60-12.80m,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,TOTAL,NaN,NaN,NaN,10,31.070,123.024 m,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,* 1 : DELIVERY,CONDITION,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,TABLE 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,CHEMICAL,NaN,COMPOSITION,( %,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,* 10 *,C,Si,Mn,P,S,Ni,Cr,...,B,Ca,Nb,V,Ti,C031,C032,C037,C039,C052
31,NO .,HEAT NO .,X,2,2,2,3,3,2,2,...,4,4,2,2,2,2,2,2,2,2
32,NaN,NaN,MAX\nMIN,14,40\n10,135\n29,20,4,30,30,...,5,560,4,4,4,19,200,6,12,100
33,1,026312,HP,10,25,117,6,2,32,12,...,اس,20,0.11,1,0.1,18,311,- 1,1,22
34,2,026312,P,10,29,118,9,1,2,12,...,< 5,16,< 1,< 1,< 1,18,330,20,3,21
35,3,026312,P,10,28,116,9,1,2,12,...,< 5,19,< 1,< 1,< 1,18,420,2,3,21
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,TABLE 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,TENSILE,TEST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NO .,HEAT NO .,LOT NO .,SPECIMEN,* 1,* 2,* 3,TYPE,Y.S.\nRp 0.2 MPa,Y.S.\nRt0.5 MPa,...,* 4,* 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,1,026312,54001,D220701467A,P,B,25,"L , bar , do = 12.7mm Lo = 50mm",NaN,355,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NOTES,* 1 TEST\nPERCENTAGE,TYPE ( P :\nPLASTIC,PRODUCT,TEST,",\nAT",S : SAMPLE TEST ) : * 2 LOCATION (\nMAXIMUM FO...,B : PIPE\nTOTAL,"BODY , U :\nEXTENSION",...,C :,* 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,TABLE 6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NO.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABSORB,...,SHEAR,AREA,( % ),NaN,LE,( mm ),NaN,NaN,NaN,NaN
50,NO .,HEAT NO .,LOT NO .,SPECIMEN,* 1,* 2,* 3,TYPE,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,3,AVG,1,2,3,AVG,NaN,NaN,NaN
52,1,026312,54001,D220701467A,P,B,0,"T , V8 , 10mmx10mm",429,392,...,100,100,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
non_dest_test = df.iloc[9:17]
non_dest_test

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,HV10,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,ADCB,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
9,LOC .,ITEM,STANDARD,TYPE,NaN,LEVEL /,REFERENCE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,L - ID,L - OD,T - ID,T - OD,LEVEL,CVR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,FULL LENGTH,DEFECT,ISO 10893-3,EMI,NaN,"F2 ; N , 5 %",NaN,"F2 ; N , 5 %",NaN,100 %,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,PIPE,LAMINAR,ISO 10893-8,UT,NaN,NaN,NaN,NaN,1,100 %,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,END,THK.TESTING,ISO 10893-12,UT,NaN,NaN,NaN,NaN,-12.5 % t +\n15.0 % t,25 %,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,BEVEL,BEVEL,ISO 10893-5,MT,NaN,NaN,NaN,NaN,1,100 %,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,END,LAMINAR,ISO 10893-8,UT,NaN,NaN,NaN,NaN,1,100 %,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,PIPE,THK . TESTING,ISO 10893-12,UT,NOTED FOR,INFORMATION\nFANDARDS,ONLY C\nTECHNICAL,NaN,-12.5 % +\n15.0 %,100 %,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
c_1 = list(range(4))
c_2 = list(range(8, 12))
c_3 = list(range(5, 8))

ndt_1 = non_dest_test.iloc[:, c_1]
ndt_2 = non_dest_test.iloc[:, c_2]
ndt_3 = non_dest_test.iloc[:, c_3]

In [ ]:
ndt_1 = ndt_1.drop(ndt_1.index[1])
new_header = ndt_1.iloc[0]
ndt_1 = ndt_1[1:]
ndt_1.columns = new_header
ndt_1.columns.name = None
ndt_1 = ndt_1.reset_index(drop=True)
ndt_1

         LOC .           ITEM      STANDARD TYPE
0  FULL LENGTH         DEFECT   ISO 10893-3  EMI
1         PIPE        LAMINAR   ISO 10893-8   UT
2          END    THK.TESTING  ISO 10893-12   UT
3        BEVEL          BEVEL   ISO 10893-5   MT
4          END        LAMINAR   ISO 10893-8   UT
5         PIPE  THK . TESTING  ISO 10893-12   UT

In [ ]:
ndt_2 = ndt_2.drop(ndt_2.index[0])
new_header = ndt_2.iloc[0]
ndt_2 = ndt_2[1:]
ndt_2.columns = new_header
ndt_2.columns.name = None
ndt_2 = ndt_2.reset_index(drop=True)
ndt_2

                   LEVEL    CVR FREQ .  RESULT
0                    NaN  100 %  100 %  PASSED
1                      1  100 %  100 %  PASSED
2  -12.5 % t +\n15.0 % t   25 %  100 %  PASSED
3                      1  100 %  100 %  PASSED
4                      1  100 %  100 %  PASSED
5      -12.5 % +\n15.0 %  100 %  100 %  PASSED

In [ ]:
ndt_12 = pd.concat([ndt_1, ndt_2], axis=1)
ndt_12

In [ ]:
c_3 = list(range(4, 8))

In [ ]:
ndt_3 = non_dest_test.iloc[:, c_3]
ndt_3

In [ ]:

new_header = ndt_3.iloc[1]
ndt_3 = ndt_3[2:]
ndt_3.columns = new_header
ndt_3.columns.name = None
ndt_3 = ndt_3.reset_index(drop=True)

In [ ]:
ndt_3

In [ ]:
ndt = pd.concat([ndt_12, ndt_3], axis=1)
ndt